.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  width: 100%;
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    width: 100%;
    max-width: 1440px;
  }
&__container {
  padding-left: 20px;
  padding-top: 16px;
  width: 100%;
  display: flex;
  @media screen and (min-width: 768px) {
    gap: 100px;
    padding-left: 50px;
  }
  @media screen and (min-width: 1280px) { 
    display: flex;
    flex-shrink: 0;
    background-color: transparent;
    gap: 240px;
    padding-left: 100px;
    padding-top: 32px;
    width: 100%;
    max-width: 1440px;
}
}
&__title {
  font-size: 16px;
  line-height: 0.9;
  font-weight: 700;
  max-width: 57px;
 max-height: 30px;
  text-decoration: none; 
  @media screen and (min-width: 1280px) {
    font-weight: 700;
    font-size: 22px;
    line-height: 0.9;
    text-decoration: none;
    width: 74px;
  }
  }
  &__nav {
     display: none;
     @media screen and (min-width: 768px) {
      display: flex;
     }
    @media screen and (min-width: 1280px) {
      display: flex;
    flex-shrink: 0;
    } 
  }
&__links {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 28px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 56px;
    height: 21px;
    flex-shrink: 0;
    }
  }
    &__link { 
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        color: var(--color-primary-dark);
        text-decoration: none;
        transition: color 0.5s, font-weight 0.5s;
        }
        &__link:hover {
          color: var(--color-primary-light);
          font-weight: 700;
        }
    &__icons {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
        gap: 20px;
      }
      @media screen and (min-width: 1280px){
        display: flex;
        gap: 32px;
        flex-shrink: 0;
      }
    }
      &__icon {
        width: 32px; 
        height: 32px;
        color: transparent;
        }
        &__burger {
          padding: 0;
          background-color: transparent;
          fill: var(--color-primary-white);
          width: 20px;
          height: 14px;
          border: none;
          cursor: pointer;
          position: absolute;
          top: 16px;
          right: 16px;
          @media screen and (min-width: 768px) {
            display: none;
          }
        }
      }




